body{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    max-width: 850px;
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #000;
    padding: 1rem;
    background-color: #3bbb308f;
    border-radius: 1rem;
    text-align: center;
}

aside {
    width: 40%;
    margin: 15px auto;
    border: 1px solid #000;
    border-radius: 1rem;
    text-align: center;
}

aside img {
    width: 300px;
    height: auto;
    border-radius: 1rem;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
    float: bottom;
}